<head>
<title>sidux manual</title>
<SCRIPT LANGUAGE="JavaScript1.2">
<!-- Begin
if (navigator.appName == 'Netscape')
var language = navigator.language;
else
var language = navigator.browserLanguage;

if (language.indexOf('en') > -1) document.location.href = 'manual/en/welcome-en.htm';
else if (language.indexOf('de') > -1) document.location.href = 'manual/de/welcome-de.htm';
else
document.location.href = 'manual/en/index.html';
// End -->
</script>
</head>
<center>
<br>
Welcome to the sidux manual. Please select your language:<br>
<br>
<a href="manual/en/welcome-en.htm">English</a><br>
<a href="manual/de/welcome-de.htm">Deutsch</a><br>
</body>
</SCRIPT>
</html>
