<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>sidux Manuals - Welcome</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css" media="all">@import url("../lib/css-js/content.css");</style>
        <style type="text/css" media="all">@import url("../lib/css-js/menu.css");</style>
        <style type="text/css" media="print">@import url("../lib/css-js/print.css");</style>
        <link rel ="shortcut icon" href="../lib/favicon/manual.ico" />
        <script type="text/javascript" src="../lib/css-js/menu2.js"></script>
        <!--[if lt IE 8]>
        	<link rel="stylesheet" type="text/css" href="../lib/css-js/ie_5-7_override.css">
        <![endif]-->
        <!--[if lt IE 7]>
        	<link rel="stylesheet" type="text/css" href="../lib/css-js/ie_5-6_override.css">
        <![endif]-->
</head>
	<body>
		<div id="menu">
			<img src="../lib/logos/sidux-logo.png" alt="logo" id="menu-header" />
			<ul id="top-list">
				<li><a href="http://sidux.com/">sidux.com main site</a></li>
				<li><a href="http://manual.sidux.com/">sidux Operating System Manual</a></li>
				<li><a href="http://manual.sidux.com/meta-manual">sidux Meta-Manual</a></li>
			</ul>
	
			<div id="flags-2">
				<a href="../flag-index.html"><img src="../lib/logos/sidux-lang-50.png" title="Choose another language" alt="lang-switch" /></a>
			</div>
	
			<ul>
				<li  onmouseover="showHide( 1 );" onmouseout="startTime();" ><a href="release.html">Welcome to sidux Gaia Release</a>
					<ul class="sub-menu" id="sm1">
						<li><a href="release.html#welcome-gen">Welcome to sidux</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 2 );" onmouseout="startTime();" ><a href="release.html#release-notes">RELEASE NOTES for GAIA, PLEASE READ</a>
					<ul class="sub-menu" id="sm2">
						<li><a href="release.html#disclaim">Disclaimer</a></li>
						<li><a href="release.html#credits">Credits</a></li>
						<li><a href="release.html#howto-involve">Get Involved</a></li>
						<li><a href="release.html#roadmap">Roadmap</a></li>
						<li><a href="release.html#non-free">Non-Free sources and Drivers</a></li>
						<li><a href="release.html#whats-new">Whats New</a></li>
						<li><a href="release.html#release-notes">Release Notes</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 6 );" onmouseout="startTime();" ><a href="release.html#whats-new">Whats New</a>
					<ul class="sub-menu" id="sm6">
						<li><a href="release.html#whats-new">Whats New</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 7 );" onmouseout="startTime();" ><a href="release.html#non-free">Non-Free sources and Drivers</a>
					<ul class="sub-menu" id="sm7">
						<li><a href="release.html#non-free">Non-Free sources and Drivers</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 8 );" onmouseout="startTime();" ><a href="release.html#roadmap">Roadmap</a>
					<ul class="sub-menu" id="sm8">
						<li><a href="release.html#roadmap">Roadmap</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 9 );" onmouseout="startTime();" ><a href="release.html#howto-involve">Get Involved</a>
					<ul class="sub-menu" id="sm9">
						<li><a href="release.html#howto-involve">Get Involved</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 11 );" onmouseout="startTime();" ><a href="release.html#credits">Credits</a>
					<ul class="sub-menu" id="sm11">
						<li><a href="release.html#credits">Credits</a></li>
					</ul>
				</li>
				<li  onmouseover="showHide( 12 );" onmouseout="startTime();" ><a href="release.html#disclaim">Disclaimer</a>
					<ul class="sub-menu" id="sm12">
						<li><a href="release.html#disclaim">Disclaimer</a></li>
					</ul>
				</li>
			</ul>
			<!-- menu ends here -->
		</div>
		
		<div id="main-page">
		<!--[if lt IE 7]>
			<div class="center warning-box data">Please Note :: Your version of Internet Explorer&#8482; is obsolete, please install <a href="http://mozilla.com/">Firefox from Mozilla Corp&#8482;</a> for Windows&#8482;. The menu distortions you see are the result of using a legacy browser like MSIE 5 or 6.</div>
		<![endif]-->
			<div class="divider" id="welcome-gen">
				<h2 id="top-header">Welcome to sidux Gaia Release - Please read these release notes</h2>
						
				<p class="highlight-3">
					Be prepared!
				</p>
	
				<p>
					sidux is based on <a href="http://www.debian.org"> Debian 'sid' GNU/Linux</a>, and holds fast to the core values and social contract of Debian.
				</p>
	
				<p>
					You no longer need to wait for a new release to always have the latest of anything, including kernels. Once you have installed sidux, all it needs is a dist-upgrade, which is a system-wide software update from debian and sidux.
				</p>
	
				<p>
					This means that re-installing yet another release every 6-12 months on your PC is unnecessary with sidux, as the weekly or monthly dist-upgrade brings everything up-to-date, except the kernel; which may be upgraded separately as required.
				</p>
	
				<p>
					As it is, an install with sidux usually does not take longer than 20 minutes.
				</p>
	
				<p>
					With the 'way of sidux', you will be always up to date and have the very best that sidux together with Debian 'sid' can offer.
				</p>
	
				<p class="highlight-3">
					Welcome to sidux!
				</p>
		
			</div>
	
			<div class="divider" id="release-notes">
				<h2>Release notes for Gaia </h2>
				<p>
					After 3 months of development we are proud to announce the immediate availability of the sidux-2007-03 "Γαῖα" (Gaia) release for amd64 and i686 systems, shipping in a ≈425 MB lite KDE and a ≈ 690 MB full KDE. sidux is a full featured Debian sid based live CD with a special focus on hard disk installations, a clean upgrade path within sid and additional hard- and software support.
				</p>
		
				<p>
					Our third official sidux release has concentrated on overhauling the early boot sequence and adapting to a wider variety of desktop environments and window managers, further efforts regarding the second boot stage, localisations, toolkit abstraction/ harmonisation and refactoring the installer are ongoing. While this release only ships in two KDE flavors (lite and full) again, we're looking for interested maintainers contributing to special purpose releases or tweaking support for other desktop environments and window managers. The ISO is completely based on Debian Sid, enriched and stabilized with sidux' own packages and scripts. It comes with kernel 2.6.22.x, which is based on the most recent vanilla kernel together with several patches for improved hardware support, especially for wireless LAN devices (mac80211).
				</p>
			</div>
	
			<div class="divider" id="whats-new">
				<h2>Now to the interesting topics, like what's on the menu for now:</h2>
				<ul>
					<li>amd64 (AMD64, Intel Core2, newer 64 bit capable Pentium 4 CPUs (watch for the "lm" flag in /proc/cpuinfo or use infobash -v3) and i686 (pentium pro/ pentium II or newer).</li>
					<li>debian sid</li>
					<li>kernel 2.6.22.1 (smp, hard preemption, mac80211).</li>
					<li>KDE 3.5.7 (en + de).</li>
					<li>completely overhauled init sequence.</li>
					<li>refactored installer backend</li>
					<li>new artwork created by cleary and the sidux art team.</li>
					<li>offline manual for en + de directly on the disc, online manuals for more languages online at <a href="http:/manual.sidux.com/ "> http://manual.sidux.com/ </a>and available via apt; a big thank you goes to the documentation and translation teams!<br />Please note that the offline manual is only available on the running live CD or the installed system.</li>
					<li>lots of changes for the manual</li>
					<li>iwlwifi3945/ iwlwifi4965 0.0.42</li>
					<li>libata support for parallel ATA systems.</li>
					<li>further Xdialog --&gt; ssft consolidation.</li>
				</ul>
			</div>
	
			<div class="divider" id="non-free">
				<h2>Hints for hardware with non-free needs:</h2>
				<p class="highlight-3">
					Due to the complexity of law, sidux live-cd will only provide dfsg-free software.
				</p>
		
				<p>
					As sidux contains only dfsg free software, you will probably want to add contrib/ non-free to your /etc/apt/sources.list and ensure internet access:
				</p>
		<pre># See sources.list(5) for more information, especialy
# Remember that you can only use http, ftp or file URIs
# CDROMs are managed through the apt-cdrom tool.

# Unstable
deb http://ftp.de.debian.org/debian unstable main contrib non-free
# deb-src http://ftp.de.debian.org/debian unstable main contrib non-free

# sidux
deb http://sidux.com/debian/ sid main contrib non-free firmware fix.main fix.contrib fix.non-free
#deb-src http://sidux.com/debian/ sid main contrib non-free firmware fix.main fix.contrib fix.non-free</pre>
				<ul>
					<li>
						ATi Radeon graphics: 3d acceleration for older cards up to r35x should work, newer Radeon X1xxx cards need non-free drivers for accelerated performance which are not yet compatible with X.org 7.2.
					</li>
					<li>
						Atheros/ "madwifi" wlan:
						<pre>m-a a-i madwifi</pre>
					</li>
					<li>
						Atmel AT76c50x 11 MBit/s wlan:
						<pre>apt-get install atmel-firmware</pre>
					</li>
					<li>
						Broadcom/ bcm43xx wlan:
						<pre>apt-get install bcm43xx-fwcutter</pre>
					</li>
					<li>
						Eagle USB ADSL modem: fetch the firmware from <a href=" http://eagle-usb.org/ueagle-atm/non-free/">http://eagle-usb.org/ueagle-atm/non-free/</a> and place it under <span class="highlight-3">/lib/firmware/</span>.
					</li>
					<li>
						DVB firmwares for various full featured DVB TV cards (most budget cards won't need this): fetch the needed firmeware (check dmesg) from <a href="http://www.linuxtv.org/downloads/firmware/">http://www.linuxtv.org/downloads/firmware/</a> and place it under <span class="highlight-3">/lib/firmware/</span>.
						</li>
					<li>
						Intel ipw2100, 11 MBit/s wlan: 
						<pre>apt-get install ipw2100-firmware</pre>
					</li>
					<li>
						Intel ipw2200, 54 MBit/s wlan: 
						<pre>apt-get install ipw2200-firmware</pre>
					</li>
					<li>
						Intel ipw3945/ iwlwifi, 54 Mbit/s wlan:
						<pre>apt-get install firmware-iwl3945</pre>
					</li>
					<li>
						Intel ipw4965/ iwlwifi, draft-n wlan:
						<pre>apt-get install firmware-iwl4965</pre>
					</li>
					<li>
						Intersil prism54, 54 MBit/s wlan: fetch the firmware from <a href="http://prism54.org/firmware/">http://prism54.org/firmware/</a> and place it under <span class="highlight-3">/lib/firmware/</span>.
					</li>
					<li>
						nVidia graphics: 3d acceleration isn't possible with free drivers yet, please use <span class= "highlight-3">get-sidux-binary-gfx</span> to fetch install scripts for these cards.
					</li>
					<li>
						RaLink rt61 54 MBit/s wlan,:
						<pre>apt-get install rt61-fwcutter</pre>
					</li>
					<li>
						Texas Instruments ACX100 (22 Mbit/s)/ ACX111 (54 MBit/s) wlan, fetch the firmware from <a href="http://www.kazer.org/acx-firmware-20060207.tar.bz2">http://www.kazer.org/acx-firmware-20060207.tar.bz2</a> and place it under <span class="highlight-3">/lib/firmware/</span>.
					</li>
					<li>
						ZyDAS zd1201 11 MBit/s wlan, fetch the firmware from <a href="http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz">http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz</a> and place it under <span class="highlight-3">/lib/firmware/</span>.
					</li>
					<li>
						ZyDAS zd1211 54 MBit/s wlan:
						<pre>apt-get install zd1211-firmware</pre>
					</li>
				</ul>
	
				<p>
					We will check if we can provide packages for at least some of these devices, but the legal status isn't necessarily easy.
				</p>
			</div>
	
			<div class="divider" id="howto-involve">
				<h2>How to get involved</h2>
				<p>
					Getting involved in sidux is easy, just join us <a href="http://sidux.com"> Forum</a> or even better on IRC (irc.oftc.net, port 6667, channel #sidux) and discuss your patches/ proposals additions. We will gladly discuss any dfsg- free patches and contributions.
				</p>
			</div>
	
			<div class="divider" id="roadmap">
				<h2>Roadmap:</h2>
				<p>
					Please understand that the following roadmap is a rough estimate regarding our release schedule and is affected by the status of upstream debian sid, major system components like X.org, KDE, the linux kernel and our own developments and is subject to changes.
				</p>
	
				<ul>
					<li> sidux-2007-04 "Ἔρως" — calendar week 41-42 2007</li>
					<li> sidux-2008-01 "Νύξ" — calendar week 3-4 2008</li>
					<li> sidux-2008-02 "Έρεβος" — calendar week 15-16 2008</li>
				</ul>
			</div>
	
			<div class="divider" id="credits">
				<h2>Special thanks go to the entire sidux development team:</h2>
				<p>
					Joaquim Boura: (x-un-i)<br />
					<a href="http://rebelhomicide.demon.nl">Michiel de Boer:</a> (locsmif)<br />
					Mikhail Burov: (von_Selbst)<br />
					<a href="http://www.alessiogiustini.com"> Alessio Giustini:</a> (alessiog75)<br />
					Stefan R. Eissens: (eislon)<br />
					Roland Engert: (RoEn)<br />
					Bernard Gray: (cleary)<br />
					Andreas Hausmann: (Bohdi)<br />
					Chris Hildebrandt: (slam)<br />
					Ralph Hokanson Jr.: (piper)<br />
					Richard Holt: (Richard)<br />
					Markus Huber: (hubi)<br />
					Harald Hope: (h2)<br />
					HarzG: <br />
					Aedan Kelly (etorix)<br />
					Lady_Cuddles<br />
					Latino<br />
					Stefan Lippers-Hollmann: (slh)<br />
					Kel Modderman: (kelmo)<br />
					Koslow<br />
					Markus M&uuml;ller: (moto)<br />
					maslot<br />
					Gabriel Palade: (ladepa)<br />
					<a href="http://www.r7h.at">Gerald Prock:</a> (raider700)<br />
					<a href="mailto:cathbard@gmail.com">Steven J. Robinson:</a> (cathbard)<br />
					Philipp Rudolph: (Zophod)<br />
					Dinko Sabo: (cobra)<br />
					Florian Schneider: (hathe)<br />
					Ferdi Thommes: (devil)<br />
					Horst Tritremmel: (hjt)<br />
					Trevor Walkley: (bluewater)<br />
					Niall Walsh: (bfree)<br  />
					Andreas Weber: (webera)<br />
					zerby<br />
					zonker<br />
					zulu9
				</p>
		
				<p>
					On behalf of the sidux team:<br />
					Stefan Lippers-Hollmann (slh)
				</p>
			</div>
	
			<div class="divider" id="disclaim">
				<h2>Disclaimer:</h2>
				<p>
					This is experimental software. Use at your own risk. The sidux project, it's developers and team members (all represented by the sidux Foundation, Inc) cannot be held liable under any circumstances for damage to hardware or software, lost data, or other direct or indirect damage resulting from the use of this software. If you do not agree to these terms and conditions, you are not permitted to use or further distribute this software.
				</p>
			</div>
		</div>
	</body>
</html>
