<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>sidux release notes</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<style type="text/css" media="all">@import url("all.css");</style>
	<style type="text/css" media="screen">@import url("screen.css");</style>
	<style type="text/css" media="print">@import url("print.css");</style>
	<link rel ="shortcut icon" href="cdrom.ico" />
</head>
	<body>
		<div id="menu">
			<img src="sidux.png" alt="logo" id="menu-header" />

			<div class="menubutton" onclick="top.location.href='http://sidux.com/'">
				<a href="http://sidux.com/">sidux.com main site</a>
			</div>

			<div class="menubutton" onclick="top.location.href='http://manual.sidux.com/'">
				<a href="http://manual.sidux.com/">sidux Operating System Manual</a>
			</div>

			<div class="menubutton" onclick="top.location.href='http://manual.sidux.com/meta-manual/'">
				<a href="http://manual.sidux.com/meta-manual/">sidux Meta-Manual</a>
			</div>

			<div class="menubutton" onclick="top.location.href='en.html'">
				<a href="en.html">Release notes (en)</a>
			</div>

			<div class="menubutton" onclick="top.location.href='de.html'">
				<a href="de.html">Release notes (de)</a>
			</div>

			<ul>
				<li><a href="#welcome">Willkommen</a></li>
				<li><a href="#release-notes">Release Notes</a></li>
				<li><a href="#whats-new">Was ist neu</a></li>
<!-- preview -->
				<li><a href="#pending">Pending changes</a></li>
<!-- preview -->
				<li><a href="#non-free">non-free Quellen und Treiber</a></li>
				<li><a href="#upgrade">Upgrade Support</a></li>
				<li><a href="#disclaimer">Disclaimer</a></li>
				<li><a href="#mirror">Mirror</a></li>
				<li><a href="#howto-involve">Getting Involved</a></li>
				<li><a href="#roadmap">Roadmap</a></li>
				<li><a href="#credits">Credits</a></li>
			</ul>
		</div>

		<div id="main-page">
			<div class="divider" id="welcome">
				<h1 id="top-header">sidux 2008-1 Preview 1</h1>
				<p>
					Was ursprünglich als geringfügiges Maintenance Release geplant war, resultierte letztlich in wesentlich umfangreicheren Änderungen für sidux 2008-01 &quot;Νυξ&quot;.
					Nun haben wir das Vergnügen die erste öffentliche Preview von sidux 2008-01 anzukündigen, verfügbar in etwa &asymp;460 MB großen kde-lite Varianten für amd64 und i686 Systeme.
					Bitte beachten Sie daß es sich hierbei noch nicht um das engültige Release handelt, das voll ausgestattete &quot;Νυξ&quot; Release ist in etwa 2-3 Wochen zu erwarten (abhängig von der Verfügbarkeit von KDE 3.5.9 in Debian sid), zwischenzeitliche xdeltas wird es bis dahin nach Bedarf geben.
				</p>

				<p>
					sidux ist eine umfassende Debian sid basierte Live-CD mit besonderem Augenmerk auf Festplatteninstallationen, einem sauberen Upgradepfad innerhalb sids und zusätzlichem Hard- und Softwaresupport.
					Das ISO basiert vollständig auf Debian sid, angereichert und stabilisiert mit sidux eigenen Paketen und Skripten.
				</p>
			</div>

			<div class="divider" id="release-notes">
				<h2>Release Notes für Νυξ Preview 1</h2>
				<p>
					Diese Preview auf dem Weg zu unserem fünften major Release &quot;Νυξ&quot; bringt nicht nur neue Upstreampakete, sondern auch die Entwicklung von sidux selbst wurde beschleunigt und unterzog sich einer Menge von Änderungen.
				</p>
				<p>
					So wurden zum Beispiel im neuen Upstreamkernel 2.6.24 die Subarchitekturen &quot;i386&quot; und &quot;x86_64&quot; in die neue generische "x86" Architektur zusammengefasst, ferner steht nun Unterstützung für weitere wireless LAN Geräte wie RealTek RTL8180L/ RTL8185, UVC Video Unterstützung, high resolution timers und Dynamic Ticks für amd64 Systeme zur Verfügung.
					Insbesondere diese kernelbezogenen Änderungen erforderten eine Reihe von Änderungen an dem Releaseprozeß des Kernels für sidux, welcher nun in Form von eng an Debian angelehnten Paketen über apt-get gewährleistet wird, begleitet von einer Anzahl GPL2 kompatibler externer Modulpakete. 
					Metapakete (eine nähere <a href="#upgrade">Einführung</a> ist weiter unten verfügbar) ermöglichen nun eine einfache Auswahl des erforderlichen Kernelsupports sowie die Verfügbarkeit von Fehlerbereinigen und Sicherheitskorrekturen.
				</p>
				<p>
					Ein besonderes Augenmerk wurde auf die Auflösung des bisherigen &quot;sidux&quot; Menüs in XDG konforme Menükategorien gelegt, welche &mdash; in Kombination mit dem neuen SVG basierten Artwork &mdash; eine bessere Kompatibilität mit alternativen Windowmanagern und Desktopenvironments ermöglichen und eine Voraussetzung für künftigen KDE4 oder potentiellen GNOME oder XFCE Support darstellen.
					Ebenso hat eine große Anzahl von Paketen teils massive Änderungen erfahren oder wurde vollständig durch neue Ansätze ersetzt (wie zum Beispiel &quot;netcardconfig&quot; durch &quot;Ceni&quot;).
				</p>
				<p>
					Der Releaseplan der weiteren für 2008 geplanten sidux Releases wurde entsprechend adaptiert.
				</p>

				<p>
					Unser besonderer Dank gilt dem sidux art Team und im besonderen allen Mirrorhostern für ihre Bemühungen um sidux.
				</p>

				
			</div>

			<div class="divider" id="whats-new">
				<h2>Jetzt zu den interessanten Themen, was steht nun auf dem Plan:  </h2>
				<ul>
					<li>amd64 (AMD64, Intel Core2, neuere 64 bit fähige AMD Sempron and Intel Pentium 4 CPUs (achtet auf das &quot;lm&quot;-Flag in /proc/cpuinfo oder nutzt infobash -v3) und i686 (Pentium pro, Pentium II oder neuer).</li>
					<li>Debian sid, Stand 2008-03-01.</li>
					<li>kernel 2.6.24.3 (smp, hard preemption).</li>
					<li>X.org 7.3.</li>
					<li>KDE 3.5.8 (en + de).</li>
					<li>neues, SVG basiertes Artwork, gestaltet von dem sidux art team unter Bernard Gray (cleary), David Creedy (klaymen) und Daniel-S-P, im Hinblick auf verbesserten KDE4 und GNOME Support.</li>
					<li>Auflösung des bisherigen &quot;sidux&quot; Menüs in die entsprechenden XDG Kategorien, was einen breite Support von window managern und XDG Konformität ermöglicht.</li>
					<li><a href="file:///usr/share/sidux-manual/index.html">offline manual</a> for <a href="file:///usr/share/sidux-manual/en/welcome-en.htm">en</a> + <a href="file:///usr/share/sidux-manual/de/welcome-de.htm">de</a> direkt auf der CD, online Handbücher für weitere Sprachen auf: <a href="http://manual.sidux.com/">http://manual.sidux.com/</a> und verfügbar via apt; ein großes Dankeschön geht wieder einmal an das Dokumentations- und Übersetzerteam!<br />Bitte beachtet, dass das Offline Handbuch nur durch die Live-CD oder im installierten System zu erreichen ist.</li>
					<li>viele Änderungen im und am Handbuch.</li>
					<li>iwlwifi3945/ iwlwifi4965 Unterstützung.</li>
					<li>b43/ b43legacy Support für Broadcom wlan Karten.</li>
					<li>rt2x00 Support für RaLink Karten.</li>
					<li>Support für RealTek RTL8180L und RTL8185 PCI/ cardbus wlan Karten.</li>
					<li>Support für RealTek RTL8187 USB wlan Karten.</li>
					<li>Support für ADMtek ADM8211 PCI/ cardbus wlan Karten.</li>
					<li>Unterstützung für IPWireless 3G UMTS PCMCIA Karten.</li>
					<li>Unterstützung für HSDPA Broadband Wireless Data (Globe Trotter) Karten.</li>
					<li>e1000e Support für Intel 82801I, 82566DM-2, 82562GT-2, 82562G-2 and 82562V-2 Gigabit Ethernet Karten (ICH9).</li>
					<li>Support für Logitech Quickcam Orbit, Logitech Quickcam Pro für Notebooks, Logitech Quickcam Pro 5000, Asus Eee PC webcams (linux-uvc).</li>
					<li>fw-detect für Hardware, die non-free Pakete braucht.</li>
					<li>memtest86+</li>
					<li>Überholung der Partitions- und Dateisystemerkennung.</li>
					<li>/etc/apt/sources.list.d/ ersetzt die monolithische /etc/apt/sources.list.</li>
					<li>virtualbox-ose-guest 1.5.6 Support.</li>
					<li>Korrektur der letzten verbliebenen sources.list.d/ Probleme.</li>
					<li>bitsetting/ xrandr Einstellungen für ATi und Intel Karten.</li>
					<li>grundlegende lvm2 Erkennung und Installationsunterstützung auf existierende logical volumes.</li>
					<li>Ceni als vordringliches Konfigurationstool für Netzwerkgeräte.</li>
					<li>durchgängiger Wechsel auf Debians &quot;su-to-root&quot; anstelle diverser su Wrapper.</li>
				</ul>
			</div>

<!-- preview -->
			<div class="divider" id="pending">
				<h2>Was hat es nicht in diese Preview geschafft?:</h2>
				<ul>
					<li>KDE 3.5.9.</li>
					<li>abschließende Anpassungen des Handbuches an Νυξ.</li>
					<li>Überprüfung des locale Supports.</li>
					<li>geringfügige Konsolidierung des Artworks.</li>
				</ul>
			</div>
<!-- preview -->

			<div class="divider" id="non-free">
				<h2>Hinweise für Hardware, die non-free Pakete braucht:</h2>
				<p>
					sidux enthält nur <a href="http://www.debian.org/social_contract">dfsg</a> freie Software, deshalb ist es sinnvoll, contrib/ non-free in die  <a href="http://sidux.com/files/misc/sources.list.d/debian.list">/etc/apt/sources.list.d/debian.list</a> aufzunehmen und Internetzugang sicherzustellen.
				</p>
		<pre># See sources.list(5) for more information, especially
# Remember that you can only use http, ftp or file URIs
# CDROMs are managed through the apt-cdrom tool.
# The /etc/apt/sources.list.d/ directory provides a way to add sources.list
# entries in separate files that end with sources.list file.

# unstable
deb http://ftp.de.debian.org/debian unstable main contrib non-free
# deb-src http://ftp.de.debian.org/debian unstable main contrib non-free

# testing
# deb http://ftp.de.debian.org/debian testing main contrib non-free
# deb-src http://ftp.de.debian.org/debian testing main contrib non-free

# experimental
# deb http://ftp.de.debian.org/debian experimental main contrib non-free
# deb-src http://ftp.de.debian.org/debian experimental main contrib non-free</pre>
				<p>
					und <a href="http://sidux.com/files/misc/sources.list.d/sidux.list">/etc/apt/sources.list.d/sidux.list</a>:
				</p>
				<pre># sidux e.V., Germany
deb http://sidux.com/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free
#deb-src http://sidux.com/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free</pre>

				<p>
					Die benötigte Firmware kann entweder der unten folgenden Auflistung entnommen, oder mit dem neu entwickelten fw-detect script (paketiert in configure-networkcard) bestimmt werden.
				</p>

				<ul>
					<li>
						ATi Radeon Grafik:<br />
						3d Beschleunigung für ältere Karten bis r35x sollte funktionieren, neuere Radeon X1xxx Karten brauchen non-free Treiber für beschleunigte Performance, die bisher noch nicht kompatibel mit Kernel 2.6.23 sind. Abhängig vom jeweiligen Chipsatz "xmodule=vesa" oder "xmodule=fbdev" als Cheatcode könnte helfen bei Radeon X1xxx Modellen.
					</li>
					<li>
						Atheros/ "madwifi" wlan:<br />
						<pre>m-a a-i madwifi</pre>
					</li>
					<li>
						Atmel AT76c50x 11 MBit/s wlan:<br />
						<pre>apt-get install atmel-firmware</pre>
					</li>
					<li>
						Broadcom, bcm43xx/ b43/ b43legacy wlan:<br />
						<pre>apt-get install bcm43xx-fwcutter b43-fwcutter</pre>
					</li>
					<li>
						Eagle USB ADSL modem:<br />
						hole die Firmware von <a href="http://eagle-usb.org/ueagle-atm/non-free/">http://eagle-usb.org/ueagle-atm/non-free/</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						DVB firmware für verschiedene full featured DVB TV Karten (die meisten budget Karten brauchen das nicht): <br />
						 hole die benötigte Firmware (nachschauen mit dmesg) von:  <a href="http://www.linuxtv.org/downloads/firmware/">http://www.linuxtv.org/downloads/firmware/</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						IVTV firmware:<br />
						hole die Firmware von <a href="http://dl.ivtvdriver.org/ivtv/firmware/">http://dl.ivtvdriver.org/ivtv/firmware/</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						Intel ipw2100, 11 MBit/s wlan:<br />
						<pre>apt-get install ipw2100-firmware</pre>
					</li>
					<li>
						Intel ipw2200, 54 MBit/s wlan:<br />
						<pre>apt-get install ipw2200-firmware</pre>
					</li>
					<li>
						Intel ipw3945/ iwlwifi, 54 Mbit/s wlan:<br />
						<pre>apt-get install firmware-iwlwifi</pre>
					</li>
					<li>
						Intel ipw4965/ iwlwifi, draft-n wlan:<br />
						<pre>apt-get install firmware-iwlwifi</pre>
					</li>
					<li>
						Intersil prism54 (p54pci/ p54usb), 54 MBit/s wlan:<br />
						hole die Firmware von <a href="http://jbnote.free.fr/prism54usb/">http://jbnote.free.fr/prism54usb/</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						nVidia graphics:<br />
						3d Beschleunigung geht mit freien Treibern noch nicht, bitte benutzt &quot;get-sidux-binary-gfx &amp;&amp; install-binary-gfx -a&quot; oder &quot;sgfxi&quot; um Install Skripte für diese Karten zu bekommen.
					</li>
					<li>
						RaLink rt61 und rt73 54 MBit/s wlan:<br />
						<pre>apt-get install firmware-rt61</pre>
						<em>bitte entferne rt61-fwcutter, rt73-fwcutter, firmware-rt61 und firmware-rt73, falls bereits installiert.</em>
					</li>
					<li>
						Texas Instruments ACX100 (22 Mbit/s)/ ACX111 (54 MBit/s) wlan:
						<pre>m-a a-i acx100</pre>
						und hole die firmware von <a href="http://www.kazer.org/acx-firmware-20060207.tar.bz2">http://www.kazer.org/acx-firmware-20060207.tar.bz2</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						ZyDAS zd1201 11 MBit/s wlan:<br />
						hole die firmware von <a href="http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz">http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						ZyDAS zd1211 54 MBit/s wlan:<br />
						<pre>apt-get install zd1211-firmware</pre>
					</li>
				</ul>

				<p>
					Wir versuchen, Pakete für legal vertreibbare Firmware in unseren non-free Repositories zur Verfügung zu stellen, aber nicht alle Anbieter erlauben dies.
				</p>
			</div>

			<div class="divider" id="upgrade">
				<h2>Hinweise für Upgrader:</h2>
				<p>
					sidux bemüht sich sehr um einen nahtlosen Upgradepfad für Debian- und sidux-eigene Pakete, dennoch verleiben einige Dinge die manueller Nacharbeit bedürfen.
				</p>

				<h3>bash-completion</h3>
				<p>
					/etc/bash_completion, welches die erweiterten Befehlsvervollständigungen bereitstellt (wie z.B. &quot;apt-get i[tab]&quot;), ist ab Version 3.1dfsg-9 nicht Bestandteil des bash Paketes, die Funktionalität wurde stattdessen in das neue &quot;bash-completion&quot; (&gt;&gt; 20060301-1) ausgelagert.
					Aufgrund der Eigenschaft daß &quot;bash-completion&quot; nur eine Recommends Abhängigkeit von &quot;bash&quot; ist, empfiehlt es sich &quot;bash-completion&quot; manuell zu installieren:
				</p>
				<pre>apt-get install bash-completion</pre>
				<p>
					(es wird empfohlen der Installation der Version des Paketbetreuers von /etc/bash_completion zuzustimmen)
				</p>

				<h3>grub/ grub-gfxboot</h3>
				<p>Die folgenden Features wurden kürzlich grub-gfxboot hinzugefügt:</p>
				<ul>
					<li>
						savedefault<br />
						<ul>
							<li>
								sichert die zuletzt gebootete Kernelauswahl<br />
								dies erfordert die Einstellung von &quot;savedefault=true&quot; in der &quot;automagic kernel list&quot; und die Änderung von &quot;default &lt;entry number&gt;&quot; in &quot;default saved&quot; innerhalb der /boot/grub/menu.lst.
							</li>
						</ul>
					</li>
					<li>
						256 Byte inode Größen auf ext3<br />
						<ul>
							<li>
								e2fsprogs &ge; 1.40.5-1 erstellt ext3 Dateisysteme mit 256 Byte großen Inodes per default (im Gegensatz zu den zuvor gesetzten 128 Byte), um künftig zu erwartenden ext4 Änderungen vorzubereiten.
							</li>
						</ul>
                                        </li>
					<li>
						ext4 Extents (nur von grub-gfxboot supported)<br />
						<ul>
							<li>
								Beginnend mit Kernel 2.6.23 werden ext4 Dateisysteme mit Extents gemounted.
							</li>
						</ul>
					</li>
				</ul>

				<p>
					Die Verwendung jedes dieser neuen Features erfordert die Aktualisierung des Bootsektors der betroffenden Systeme.
					Von &quot;grub&quot; oder früheren Versionen von &quot;grub-gfxboot&quot; installierte Bootsektoren sind nicht in der Lage auf Partititionen mit diesen Features zuzugreifen oder gar zu booten!<br />
					Während diese Änderungen keine existierenden Systeme betreffen, empfehlen wir dringend die Bootsektoren mittels des folgenden Befehls zu aktualisieren:
				</p>
				<pre>grub-install --recheck --no-floppy &lt;raw device or partition&gt;</pre>
				<p>
					um auch auf neu erstellte ext3 (mit Inode Größen oberhalb von 128 Byte) oder ext4 Partitionionen zugreifen, oder das neue savedefault Feature verwenden zu können.
				</p>

				<p>
					Besondere Aufmerksamkeit ist beim aktualisieren des Bootsektors anzuraten, die Auswahl eines falschen Installationsziels kann möglicherweise die Bootfähigkeit des Systems beeinträchtigen.
				</p>

				<h3>Kernelpaketierung</h3>
				<p>
					Beginnend mit Kernel 2.6.24 sind sidux Kernels und dfsg-freie externe Module ausschließlich via apt verfügbar und können über Metapakete aktuell gehalten werden.
				</p>

				<ul>
					<li>
						<h4>amd64:</h4>
						<ul>
							<li>
								<h5>Kernel und Header:</h5>
								<pre>apt-get install	linux-image-2.6-sidux-amd64 \
		linux-headers-2.6-sidux-amd64</pre>
							</li>
							<li>
								<h5>externe, dfsg-freie und GPL2 kompatible, Module:</h5>
								<pre>apt-get install	acer-acpi-modules-2.6-sidux-amd64 		\
		atl2-modules-2.6-sidux-amd64			\
		aufs-modules-2.6-sidux-amd64			\
		btrfs-modules-2.6-sidux-amd64			\
		et131x-modules-2.6-sidux-amd64			\
		fsam7400-modules-2.6-sidux-amd64		\
		gspca-modules-2.6-sidux-amd64			\
		ndiswrapper-modules-2.6-sidux-amd64		\
		qc-usb-modules-2.6-sidux-amd64			\
		rfswitch-modules-2.6-sidux-amd64		\
		squashfs-modules-2.6-sidux-amd64		\
		virtualbox-ose-modules-2.6-sidux-amd64</pre>
							</li>
						</ul>
					</li>
					<li>
						<h4>i386:</h4>
						<ul>
							<li>
								<h5>Kernel und Header:</h5>
								<pre>apt-get install	linux-image-2.6-sidux-686 \
		linux-headers-2.6-sidux-686</pre>
							</li>
							<li>
								<h5>externe, dfsg-freie und GPL2 kompatible, Module:</h5>
								<pre>apt-get install	acer-acpi-modules-2.6-sidux-686			\
		acerhk-modules-2.6-sidux-686			\
		atl2-modules-2.6-sidux-686			\
		aufs-modules-2.6-sidux-686			\
		btrfs-modules-2.6-sidux-686			\
		et131x-modules-2.6-sidux-686			\
		fsam7400-modules-2.6-sidux-686			\
		gspca-modules-2.6-sidux-686			\
		ndiswrapper-modules-2.6-sidux-686		\
		omnibook-modules-2.6-sidux-686			\
		qc-usb-modules-2.6-sidux-686			\
		rfswitch-modules-2.6-sidux-686			\
		squashfs-modules-2.6-sidux-686			\
		virtualbox-ose-guest-modules-2.6-sidux-686	\
		virtualbox-ose-modules-2.6-sidux-686</pre>
							</li>
						</ul>
					</li>
				</ul>

				<p>
					Dieser Upgrademechanismus kann durch die Entfernung der oben genannten Metapakete deaktiviert werden.
					Weitere Kernelupdates bedürfen dann manueller Installation, Bugfixes und Sicherheitskorrekturen werden in Folge nicht mehr als Bestandteil des normalen dist-upgrades installiert!
				</p>
				
				<h3>Obsolete packages</h3>
				<p>
					Im Rahmen der Weiterentwicklung von sidux wurden einige Pakete durch bessere Alternativen ersetzt oder überflüssig.
				</p>
				<ul>
					<li>configure-networkcard, wurde durch &quot;Ceni&quot; ersetzt.</li>
					<li>configure-screenres, wurde durch &quot;siduxcc&quot; (bzw. &quot;siduxcc-common&quot; im Textmodus) ersetzt.</li>
					<li>rootshell, alle üblichen Desktopumgebungen bieten äquivalente X Terminals für root.</li>
					<li>sidux-xdg, die Inhalte des bisherigen &quot;sidux&quot; Menüs wurde in die offiziellen XDG Kategorien eingeordnet.</li>
				</ul>
			</div>

			<div class="divider" id="disclaimer">
				<h2>Disclaimer:</h2>
				<p>
					 Dies ist experimentelle Software. Benutzung geschieht auf eigenes Risiko. Das sidux Projekt, seine Entwickler und Teammitglieder (alle vertreten durch den sidux e.V.) können unter keinen Umständen haftbar gemacht werden für Schäden an Hard- oder Software, Datenverlust oder anderen, direkten oder indirekten Schäden entstanden durch die Benutzung dieser Software. Sollten Sie mit diesen Formulierungen und Bedingungen nicht einverstanden sein, so ist es Ihnen nicht erlaubt, diese Software weiter zu benutzen oder zu verteilen.

				</p>
			</div>

			<div class="divider" id="mirror">
				<h2>Download URLs, bitte gebt den Servern etwas Zeit zum synchronisieren:</h2>

				<h3>Europa</h3>
				<ul>
					<li>
						<strong>Technische Universität Carolo-Wilhelmina zu Braunschweig</strong>, Deutschland<br />
						<a href="http://debian.tu-bs.de/project/sidux/">http://debian.tu-bs.de/project/sidux/</a><br />
						<a href="ftp://debian.tu-bs.de/project/sidux/">ftp://debian.tu-bs.de/project/sidux/</a><br />
						<a href="rsync://debian.tu-bs.de/sidux/">rsync://debian.tu-bs.de/sidux/</a>
						<pre>deb http://debian.tu-bs.de/project/sidux/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free
deb-src http://debian.tu-bs.de/project/sidux/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free</pre>
					</li>
					<li>
						<strong>University of Kent/ Computer Science Department</strong>, Vereinigtes Königreich<br />
						<a href="ftp://ftp.mirrorservice.org/sites/sidux.com/sidux/">ftp://ftp.mirrorservice.org/sites/sidux.com/sidux/</a><br />
						<a href="http://www.mirrorservice.org/sites/sidux.com/sidux/">http://www.mirrorservice.org/sites/sidux.com/sidux/</a><br />
						<a href="rsync://rsync.mirrorservice.org/sidux.com/sidux/">rsync://rsync.mirrorservice.org/sidux.com/sidux/</a>
					</li>
					<li>
						<strong>Ireland's National Education and Research Network/ HEAnet</strong>, Dublin, Irland<br />
						<a href="http://ftp.heanet.ie/pub/sidux/">http://ftp.heanet.ie/pub/sidux/</a><br />
						<a href="ftp://ftp.heanet.ie/pub/sidux/">ftp://ftp.heanet.ie/pub/sidux/</a><br />
						<a href="rsync://ftp.heanet.ie/pub/sidux/">rsync://ftp.heanet.ie/pub/sidux/</a>
					</li>
					<li>
						<strong>Freie Universität Berlin/ spline (Student Project LInux NEtwork)</strong>, Deutschland<br />
						<a href="ftp://ftp.spline.de/pub/sidux/">ftp://ftp.spline.de/pub/sidux/</a><br />
						<a href="rsync://ftp.spline.de/Sidux/">rsync://ftp.spline.de/Sidux/</a><br />
						<pre>deb ftp://ftp.spline.de/pub/sidux/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free
deb-src ftp://ftp.spline.de/pub/sidux/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free</pre>
					</li>
					<li>
						<strong>sidux e.V.</strong>, Deutschland<br />
						<em>(nur sidux Repository)</em>
						<ul>
							<li>
								<a href="http://sidux.com/files/">http://sidux.com/files/</a><br />
								<pre>deb http://sidux.com/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free
deb-src http://sidux.com/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free</pre>
							</li>
							<li>
								http://sidux.net/<br />
								<pre>deb http://sidux.net/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free
deb-src http://sidux.net/debian/ sid main contrib non-free fix.main fix.contrib fix.non-free</pre>
							</li>
						</ul>
					</li>
				</ul>

				<h3>Nordamerika</h3>
				<ul>
					<li>
						<strong>University of Tennessee/ SunSITE</strong>, TN, USA<br />
						<a href="ftp://ftp.sunsite.utk.edu/pub/linux/Sidux/">ftp://ftp.sunsite.utk.edu/pub/linux/Sidux/</a><br />
						<a href="rsync://sunsite.utk.edu/sidux/">rsync://sunsite.utk.edu/sidux/</a>
					</li>
					<li>
						<strong>Internap Network Services, Atlanta</strong>, GA. USA<br />
						<a href="ftp://ftp-mirror.internap.com/pub/sidux/">ftp://ftp-mirror.internap.com/pub/sidux/</a><br />
						<a href="http://ftp-mirror.internap.com/pub/sidux/">http://ftp-mirror.internap.com/pub/sidux/</a><br />
						<a href="rsync://ftp-mirror.internap.com/sidux/">rsync://ftp-mirror.internap.com/sidux/</a>
					</li>
				</ul>

				<h3>Asia</h3>
				<ul>
					<li>
						<strong>National Taiwan University/ Computer and Information Networking Center</strong>, Taipei City, Taiwan, R.O.C.<br />
						<a href="http://ftp.tw.debian.org/pub/Sidux/">http://ftp.tw.debian.org/pub/Sidux/</a><br />
						<a href="ftp://ftp.tw.debian.org/pub/Sidux/">ftp://ftp.tw.debian.org/pub/Sidux/</a>
					</li>
				</ul>

				<h3>Afrika</h3>
				<ul>
					<li>
						<strong>University of Cape Town/ Linux Enthusiasts Group</strong>, Südafrika<br />
						<a href="http://ftp.leg.uct.ac.za/pub/linux/sidux/">http://ftp.leg.uct.ac.za/pub/linux/sidux/</a>
					</li>
				</ul>

				<h3>Australien</h3>
				<ul>
					<li>
						<strong>Australian National University/ AARNet</strong>, Canberra, Australien<br />
						<a href="http://mirror.aarnet.edu.au/pub/sidux/">http://mirror.aarnet.edu.au/pub/sidux/</a><br />
						<a href="ftp://mirror.aarnet.edu.au/pub/sidux/">ftp://mirror.aarnet.edu.au/pub/sidux/</a><br />
					</li>
				</ul>

				<em>Unser Dank gilt allen Mirrorbetreibern für ihre Bemühungen um sidux.</em>
			</div>

			<div class="divider" id="howto-involve">
				<h2>Wie kann man mitwirken?</h2>
				<p>
					Sich bei sidux zu engagieren ist einfach, besucht uns im <a href="http://sidux.com/module-PNphpBB2.html">Forum</a> oder besser im IRC (irc.oftc.net, port 6667, channel #sidux) und diskutiert Eure Patches/ Vorschläge oder Erweiterungen.
				</p>

				<p>
					Wir diskutieren gerne jegliche dfsg-freie Patches und Beiträge, insbesondere im Bereich alternativer Window Manager (gnome, xfce), mobile Netzwerke (GPRS/ UMTS, Bluetooth, aber auch ISDN, PPP, PPPoE) oder generelle Tasks wie Übersetzungen/ Lokalisationen und Ähnliches.
				</p>
			</div>

			<div class="divider" id="roadmap">
				<h2>Roadmap:</h2>
				<p>
					Bitte habt Verständnis, dass folgende Roadmap eine ungenaue Schätzung unseres Releaseplans darstellt, beeinflusst vom Status von Upstream Debian sid, wichtigen Systemkomponenten wie X.org, KDE, dem Linux-Kernel und unseren eigenen Entwicklungen, und dass sie Änderungen unterliegen kann.
				</p>

				<ul>
					<li>
						sidux 2008-02 &quot;Έρεβος&quot; &mdash; calendar week 18-19 2008
					</li>
					<li>
						sidux 2008-03 &quot;Ωυρέα&quot; &mdash; calendar week 28-29 2008
					</li>
					<li>
						sidux 2008-04 &quot;Πόντος&quot; &mdash; calendar week 39-40 2008
					</li>
				</ul>
			</div>

			<div class="divider" id="credits">
				<h2>Besonderer Dank geht an das gesamte sidux Entwicklerteam:</h2>
				<p>
					Jose Tadeu Barros (ceti)<br />
					Michiel de Boer (locsmif)<br />
					Joaquim Boura (x-un-i)<br />
					Mikhail Burov (von_Selbst)<br />
					David Creedy (klaymen)<br />
					<a href="http://www.alessiogiustini.com"> Alessio Giustini</a> (alessiog75)<br />
					Stefan R. Eissens (eislon)<br />
					Roland Engert (RoEn)<br />
					Bernard Gray (cleary)<br />
					<a href="http://w3you.com/">Chris Hildebrandt</a> (slam)<br />
					Ralph Hokanson Jr. (piper)<br />
					Richard Holt (Richard)<br />
					Harald Hope (h2)<br />
					HarzG<br />
					Markus Huber (hubi)<br />
					Aedan Kelly (etorix)<br />
					Lady_Cuddles<br />
					Latino<br />
					Stefan Lippers-Hollmann (slh)<br />
					Philippe Masson (LjanA)<br />
					Kel Modderman (kelmo)<br />
					Koslow<br />
					Markus Müller (moto)<br />
					muchan<br />
					Gabriel Palade (ladepa)<br />
					<a href="http://www.r7h.at">Gerald Prock</a> (raider700)<br />
					<a href="mailto:cathbard@gmail.com">Steven J. Robinson</a> (cathbard)<br />
					Philipp Rudolph (Zophod)<br />
					Dinko Sabo (cobra)<br />
					Florian Schneider (hathe)<br />
					Daniel-S-P<br />
					Ferdi Thommes (devil)<br />
					Horst Tritremmel (hjt)<br />
					Trevor Walkley (bluewater)<br />
					Niall Walsh (bfree)<br  />
					Andreas Weber (webera)<br />
					Fabian Wuertz (xadras)<br />
					zerby<br />
					zonker<br />
					zulu9
				</p>

				<p>
					Unser Dank geht an die <a href="http://www.hetzner.de/" class="printurl">Hetzner Online AG</a> für das Sponsoring  von <a href="http://sidux.com">sidux.com</a>.
				</p>

				<p>
					Im Namen des sidux Teams:<br />
					<em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stefan Lippers-Hollmann (slh)</em>
				</p>
			</div>
		</div>
	</body>
</html>
