<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>sidux release notes</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css" media="all">@import url("screen.css");</style>
	<style type="text/css" media="print">@import url("print.css");</style>
	<link rel ="shortcut icon" href="cdrom.ico" />
</head>
	<body>
		<div id="menu">
			<img src="sidux.png" alt="logo" id="menu-header" />

			<div class="menubutton" onclick="top.location.href='http://sidux.com/'">
				<a href="http://sidux.com/" target="_top">sidux.com main site</a>
			</div>

			<div class="menubutton" onclick="top.location.href='http://manual.sidux.com/'">
				<a href="http://manual.sidux.com/" target="_top">sidux Operating System Manual</a>
			</div>

			<div class="menubutton" onclick="top.location.href='http://manual.sidux.com/meta-manual/'">
				<a href="http://manual.sidux.com/meta-manual/" target="_top">sidux Meta-Manual</a>
			</div>

			<div class="menubutton" onclick="top.location.href='en.html'">
				<a href="en.html" target="_top">Release notes (en)</a>
			</div>

			<div class="menubutton" onclick="top.location.href='de.html'">
				<a href="de.html" target="_top">Release notes (de)</a>
			</div>
		</div>

		<div id="main-page">
			<div class="divider" id="welcome">
				<h1 id="top-header">sidux 2007-03</h1>

				<p>
					In Hinblick auf die finale Veröffentlichung von sidux 2007-03 &#915;&#945;&#8150;&#945; und trotz der durch die Urlaubssaison bedingten Ausf&auml;lle, konnten einige weitreichende Transitionen zur Vermeidung harter Abhängigkeiten von gtk+ 1.2 vollendet werden, welches nicht nur einen signifikanten Anteil Speicherplatz auf dem ISO einfordert, sondern auch zus&auml;tzlichen Aufwand für Wartung und Sicherheitssupport bedeutete.
				</p>
				<p>
					Nun sind wir stolz die dritte Preview f&uuml;r sidux 2007-03 &#915;&#945;&#8150;&#945; zu ver&ouml;ffentlichen und erwarten das vollausgestattete finale Release in etwa einer Woche.
				</p>
			</div>

			<div class="divider" id="release-notes">
				<h2>Release Notes für &#915;&#945;&#8150;&#945;</h2>
				<p>
					Nachdem sich Kernel und die Neue Livebootinfrastruktur als stabil bew&auml;hrt haben, ist Preview 3 nun auf Regressionstests der teilweise neu geschriebenen und massiv &uuml;berholten Konfigurationstools und die Verbesserung von &Uuml;bersetzungen und Lokalisierungen ausgelegt,
					Wie üblich erscheint dieses Preview Release nur als KDE-Lite Variante, mit einer kleinen (&asymp;440 MB), aber voll funktionalen KDE basierten Paketliste, um das Testen und eventuelle xdelta Uploads zu erleichtern.
					sidux ist eine vollausgestattete Debian sid basierende Live CD mit einem  speziellen Fokus  auf Festplatteninstallation, einem sauberen Upgrade Pfad in sid und zusätzlichem Hard- und Software Support.
				</p>

				<p>
					Das vollausgestattete final Release von sidux 2007-03 &quot;&#915;&#945;&#8150;&#945;&quot; wird in etwa einer Woche fertig sein zwischenzeitlich gibt es X-Deltas nach Bedarf.
				</p>
			</div>

			<div class="divider" id="whats-new">
				<h2>Jetzt zu den interessanten Themen, was steht nun auf dem Plan:  </h2>
				<ul>
					<li>amd64 (AMD64, Intel Core2, neuere 64 bit fähige AMD Sempron and Intel Pentium 4 CPUs (achtet auf das «lm»-Flag in /proc/cpuinfo oder nutzt infobash -v3) und i686 (Pentium pro, Pentium II oder neuer).</li>
					<li>Debian sid.</li>
					<li>kernel 2.6.22.2 (smp, hard preemption).</li>
					<li>minimales, aber voll funktionelles KDE 3.5.7 (en + de).</li>
					<li>vollkommen überholte init Sequenz.</li>
					<li>komplett überholtes Installer Backend.</li>
					<li>neues Artwork gestaltet von cleary und dem sidux art team.</li>
					<li><a href="file:///usr/share/sidux-manual/index.html">offline manual</a> for <a href="file:///usr/share/sidux-manual/en/welcome-en.htm">en</a> + <a href="file:///usr/share/sidux-manual/de/welcome-de.htm">de</a> direkt auf der CD, online Handbücher für weitere Sprachen auf:  <a href="http:/manual.sidux.com/ "> http://manual.sidux.com/ </a>und verfügbar via apt; ein grosses Dankeschön geht wieder einmal an das DoKumentations- und &Uuml;bersetzerteam!<br />Bitte beachtet, dass das Offline Handbuch nur durch die Live-CD oder im installierten System zu erreichen ist.</li>
					<li>viele &Auml;nderungen im und am Handbuch.</li>
					<li>iwlwifi3945/ iwlwifi4965 1.0.0-1.</li>
					<li>rt2x00 2.0.6+git20070810 Support für RaLink Karten die wpasupplicant unterstützen, bitte entfernt /etc/modprobe.d/mac80211 um es dem RaLink legacy Treiber vorzuziehen</li>
					<li>Support für RealTek RTL8187 wlan Karten.</li>
					<li>libata Support für parallel ATA Systeme.</li>
					<li>native vmlinuz-$KVERS und initrd.img-$KVERS Namensschemata werden jetzt auf der Live CD benutzt, bitte schaut ins Handbuch wegen der fromiso Syntax &Auml;nderungen.</li>
					<li>erweiterte Hardware Support Libraries.</li>
					<li>Support für &quot;smxi&quot;, welches &quot;sm&quot; und &quot;du-fixes-h2.sh&quot; ersetzt.</li>
					<li>Bugfix f&#252;r die Tastaturlayouteinstellungen unter X.</li>
					<li>die USB Scanner Unterst&#252;tzung wurde in Kernel &ge;2.6.22.1-slh-smp-7/ &ge;2.6.22.1-slh64-smp-7 korrigiert.</li>
					<li>Korrektur des XDG Men&#252;eintrages f&#252;r My-PPPoE Conf.</li>
					<li>Installation von siduxcc und kooka.</li>
					<li>Dank konzertierten Teamanstrengungen, konnten die Abhängigkeiten von Xdialog und damit gtk+ 1.2 aufgel&ouml;st werden.</li>
					<li>Unterstützung für Agere Systems et131x Ethernetkarten.</li>
					<li>fw-detect für Hardware, die non-free Pakete braucht.</li>
					<li>rt73-legacy Treiber.</li>
					<li>memtest86+</li>
					<li>iputils-ping.</li>
				</ul>
			</div>

			<div class="divider" id="pending">
				<h2>Was hat es nicht in diese Preview geschafft?:</h2>
				<ul>
					<li>Wir arbeiten mit einer kleinen Packagelist im Moment, um die Tests zu erleichtern, ebenso die xdeltas, und um etwas Raum für Diskussionen zu lassen, welche eurer Paketwünsche bei der finalen Version berücksichtigt werden können.</li>
					<li>neue X.org Live Konfiguration.</li>
					<li>Ergänzungen im Handbuch für &#915;&#945;&#8150;&#945;.</li>
				</ul>
			</div>

			<div class="divider" id="non-free">
				<h2>Hinweise für Hardware, die non-free Pakete braucht:</h2>
				<p>
					sidux enthält nur <a href="http://www.debian.org/social_contract">dfsg</a> freie Software, deshalb ist es sinnvoll, contrib/ non-free in die  <a href="http://sidux.com/files/misc/sources.list">/etc/apt/sources.list</a> aufzunehmen und Internetzugang sicherzustellen.
				</p>
		<pre># See sources.list(5) for more information, especially
# Remember that you can only use http, ftp or file URIs
# CDROMs are managed through the apt-cdrom tool.

# Unstable
deb http://ftp.de.debian.org/debian unstable main contrib non-free
# deb-src http://ftp.de.debian.org/debian unstable main contrib non-free

# sidux
deb http://sidux.com/debian/ sid main contrib non-free firmware fix.main fix.contrib fix.non-free
#deb-src http://sidux.com/debian/ sid main contrib non-free firmware fix.main fix.contrib fix.non-free</pre>

				<p>
					Die ben&ouml;tigte Firmware kann entweder der unten folgenden Auflistung entnommen, oder mit dem neu entwickelten fw-detect script (paketiert in configure-networkcard) werden.
				</p>

				<ul>
					<li>
						ATi Radeon Grafik:<br />
						3d Beschleunigung für ältere Karten bis r35x sollte funktionieren, neuere Radeon X1xxx Karten brauchen non-free Treiber für beschleunigte Performance, die bisher noch nicht kompatibel mit X.org 7.2 sind. Abhängig vom jeweiligen Chipsatz "xmodule=vesa" oder "xmodule=fbdev" als Cheatcode könnte helfen bei Radeon X1xxx Modellen.
					</li>
					<li>
						Atheros/ "madwifi" wlan:<br />
						<pre>m-a a-i madwifi</pre>
					</li>
					<li>
						Atmel AT76c50x 11 MBit/s wlan:<br />
						<pre>apt-get install atmel-firmware</pre>
					</li>
					<li>
						Broadcom/ bcm43xx wlan:<br />
						<pre>apt-get install bcm43xx-fwcutter</pre>
					</li>
					<li>
						Eagle USB ADSL modem:<br />
						hole die Firmware von <a href="http://eagle-usb.org/ueagle-atm/non-free/">http://eagle-usb.org/ueagle-atm/non-free/</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						DVB Firmware für verschiedene full featured DVB TV Karten (die meisten budget Karten brauchen das nicht): <br />
						 hole die benötigte Firmware (nachschauen mit dmesg) von:  <a href="http://www.linuxtv.org/downloads/firmware/">http://www.linuxtv.org/downloads/firmware/</a> und kopiere sie nach /lib/firmware/.
						</li>
					<li>
						Intel ipw2100, 11 MBit/s wlan:<br />
						<pre>apt-get install ipw2100-firmware</pre>
					</li>
					<li>
						Intel ipw2200, 54 MBit/s wlan:<br />
						<pre>apt-get install ipw2200-firmware</pre>
					</li>
					<li>
						Intel ipw3945/ iwlwifi, 54 Mbit/s wlan:<br />
						<pre>apt-get install firmware-iwlwifi</pre>
						<em>bitte entferne iwlwifi-ucode und iwlwifi-3945, falls bereits installiert.</em>
					</li>
					<li>
						Intel ipw4965/ iwlwifi, draft-n wlan:<br />
						<pre>apt-get install firmware-iwlwifi</pre>
						<em>bitte entferne iwlwifi-4965, falls bereits installiert.</em>
						<br /><br /><em>feedback zu iwlwifi 3945 und iwlwifi 4965 ist immer willkommen.</em>
					</li>
					<li>
						Intersil prism54, 54 MBit/s wlan:<br />
						hole die Firmware von <a href="http://prism54.org/firmware/">http://prism54.org/firmware/</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						nVidia graphics:<br />
						3d Beschleunigung geht mit freien Treibern noch nicht, bitte benutzt get-sidux-binary-gfx um Install Skripte für diese Karten zu bekommen.
					</li>
					<li>
						RaLink rt61 54 MBit/s wlan:<br />
						<pre>apt-get install rt61-fwcutter</pre>
					</li>
					<li>
						RaLink rt73 54 MBit/s wlan:<br />
						<pre>apt-get install rt73-fwcutter</pre>
					</li>
					<li>
						Texas Instruments ACX100 (22 Mbit/s)/ ACX111 (54 MBit/s) wlan:<br />
						hole die firmware von <a href="http://www.kazer.org/acx-firmware-20060207.tar.bz2">http://www.kazer.org/acx-firmware-20060207.tar.bz2</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						ZyDAS zd1201 11 MBit/s wlan:<br />
						hole die firmware von <a href="http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz">http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz</a> und kopiere sie nach /lib/firmware/.
					</li>
					<li>
						ZyDAS zd1211 54 MBit/s wlan:<br />
						<pre>apt-get install zd1211-firmware</pre>
					</li>
				</ul>

				<p>
					Wir versuchen, Pakete für legal vertreibbare Firmware in unseren non-free Repositories zur Verfügung zu stellen, aber nicht alle Anbieter erlauben dies.
				</p>
			</div>

			<div class="divider" id="disclaimer">
				<h2>Disclaimer:</h2>
				<p>
					 Dies ist experimentelle Software. Benutzung geschieht auf eigenes Risiko. Das sidux Projekt, seine Entwickler und Teammitglieder (alle vertreten durch die sidux Foundation, Inc) können unter keinen Umständen haftbar gemacht werden für Schäden an Hard- oder Software, Datenverlust oder anderen, direkten oder indirekten Schäden entstanden durch die Benutzung dieser Software. Sollten Sie mit diesen Formulierungen und Bedingungen nicht einverstanden sein, so ist es Ihnen nicht erlaubt, diese Software weiter zu benutzen oder zu verteilen.

				</p>
			</div>

			<div class="divider" id="mirror">
				<h2>Download URLs, bitte gebt den Servern etwas Zeit zum synchronisieren:</h2>
				<ul>
<!-- preview
					<li><a href="http://debian.tu-bs.de/project/sidux/preview/">http://debian.tu-bs.de/project/sidux/preview/ (Technische Universität Carolo-Wilhelmina zu Braunschweig, Germany)</a></li>
					<li><a href="ftp://ftp.spline.de/mirrors/sidux/preview/">ftp://ftp.spline.de/mirrors/sidux/preview/ (Freie Universität Berlin/ Institut für Informatik, Germany)</a></li>
preview -->
<!-- RELEASE -->
					<li><a href="http://debian.tu-bs.de/project/sidux/release/">http://debian.tu-bs.de/project/sidux/release/ (Technische Universität Carolo-Wilhelmina zu Braunschweig, Germany)</a></li>
					<li><a href="ftp://ftp.spline.de/mirrors/sidux/release/">ftp://ftp.spline.de/mirrors/sidux/release/ (Freie Universität Berlin/ Institut für Informatik, Germany)</a></li>
<!-- RELEASE -->
				</ul>
				<em>Zusätzliche Download Mirror, besonders in denU.S.A. und dem Pazifikraum sind sehr erwünscht, bitte kontaktiert uns wenn Ihr einen Server zur Verfügung stellen könnt, der den hohen Downloadraten eines Iso-Servers gewachsen ist.</em>
			</div>

			<div class="divider" id="howto-involve">
				<h2>Wie kann man mitwirken?</h2>
				<p>
					sich bei sidux zu engagieren ist einfach, besucht uns im <a href="http://sidux.com">Forum</a> or even better on IRC (irc.oftc.net, port 6667, channel #sidux) und diskutiert Eure Patches/ Vorschläge oder Erweiterungen.
					Wir diskutieren gerne jegliche dfsg- free Patches und Beiträge.
					Besonders im bereich alternativer Window Manager (gnome, xfce), mobiles Netzwerken (GPRS/ UMTS, Bluetooth, aber auch ISDN, PPP, PPPoE) oder generelle Tasks wie &Uuml;bersetzungen/Lokalisationen und &Auml;hnliches.
				</p>
			</div>

			<div class="divider" id="roadmap">
				<h2>Roadmap:</h2>
				<p>
					Bitte habt Verständnis, dass folgende Roadmap eine ungenaue Schätzung unseres Releaseplans darstellt, beeinflusst vom Status von Upstream Debian Sid, wichtigen Systemkomponenten wie X.org, KDE, dem Linux-Kernel und unseren eigenen Entwicklungen, und dass sie &Auml;nderungen unterliegen kann.
				</p>

				<ul>
					<li>
						sidux 2007-03 &quot;&#915;&#945;&#8150;&#945;&quot; &mdash;  Kalenderwoche 29-31 2007
					</li>
					<li>
						sidux 2007-04 &quot;&#7964;&#961;&#969;&#962;&quot; &mdash; Kalenderwoche 41-42 2007
					</li>
					<li>
						sidux 2008-01 &quot;&#925;&#973;&#958;&quot; &mdash; Kalenderwoche 1-2 2008
					</li>
					<li>
						sidux 2008-02 &quot;&#904;&#961;&#949;&#946;&#959;&#962;&quot; &mdash; Kalenderwoche 13-14 2008
					</li>
					<li>
						sidux 2008-03 &quot;&#937;&#8020;&#961;&#949;&#945;&quot; &mdash; Kalenderwoche 25-26 2008
					</li>
					<li>
						sidux 2008-04 &quot;&#928;&#972;&#957;&#964;&#959;&#962;&quot; &mdash; Kalenderwoche 37-38 2008
					</li>
				</ul>
			</div>

			<div class="divider" id="credits">
				<h2>Besonderer Dank geht an das gesamte sidux Entwicklerteam:</h2>
				<p>
					Joaquim Boura (x-un-i)<br />
					<a href="http://rebelhomicide.demon.nl">Michiel de Boer</a> (locsmif)<br />
					Mikhail Burov (von_Selbst)<br />
					<a href="http://www.alessiogiustini.com"> Alessio Giustini</a> (alessiog75)<br />
					Stefan R. Eissens (eislon)<br />
					Roland Engert (RoEn)<br />
					Bernard Gray (cleary)<br />
					Andreas Hausmann (Bohdi)<br />
					Chris Hildebrandt (slam)<br />
					Ralph Hokanson Jr. (piper)<br />
					Richard Holt (Richard)<br />
					Markus Huber (hubi)<br />
					Harald Hope (h2)<br />
					HarzG<br />
					Aedan Kelly (etorix)<br />
					Lady_Cuddles<br />
					Latino<br />
					Stefan Lippers-Hollmann (slh)<br />
					Kel Modderman (kelmo)<br />
					Koslow<br />
					Markus M&uuml;ller (moto)<br />
					maslot<br />
					Gabriel Palade (ladepa)<br />
					<a href="http://www.r7h.at">Gerald Prock</a> (raider700)<br />
					<a href="mailto:cathbard@gmail.com">Steven J. Robinson</a> (cathbard)<br />
					Philipp Rudolph (Zophod)<br />
					Dinko Sabo (cobra)<br />
					Florian Schneider (hathe)<br />
					Ferdi Thommes (devil)<br />
					Horst Tritremmel (hjt)<br />
					Trevor Walkley (bluewater)<br />
					Niall Walsh (bfree)<br  />
					Andreas Weber (webera)<br />
					Fabian Wuertz (xadras)<br />
					zerby<br />
					zonker<br />
					zulu9
				</p>

				<p>
					Im Namen des sidux Teams:<br />
					<em>&emsp;&emsp;&emsp;Stefan Lippers-Hollmann (slh)</em>
				</p>
			</div>
		</div>
	</body>
</html>
