<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>sidux release notes</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<style type="text/css" media="all">@import url("screen.css");</style>
	<style type="text/css" media="print">@import url("print.css");</style>
	<link rel ="shortcut icon" href="cdrom.ico" />
</head>
	<body>
		<div id="menu">
			<img src="sidux.png" alt="logo" id="menu-header" />

			<ul id="top-list">
				<li><a href="http://sidux.com/">sidux.com main site</a></li>
				<li><a href="http://manual.sidux.com/">sidux Operating System Manual</a></li>
				<li><a href="http://manual.sidux.com/meta-manual">sidux Meta-Manual</a></li>
				<li><a href="file:///usr/share/sidux-manual/index.html">Offline Manual (only on the Live CD)</a></li>
			</ul>

			<ul>
				<li>
					<a href="#release-notes">Release notes (en)</a>
					<ul class="sub-menu" id="sm2">
						<li><a href="#welcome">Welcome</a></li>
						<li><a href="#release-notes">Release Notes</a></li>
						<li><a href="#whats-new">Whats New</a></li>
						<li><a href="#pending">Pending changes</a></li>
						<li><a href="#non-free">Non-Free sources and Drivers</a></li>
						<li><a href="#disclaimer">Disclaimer</a></li>
						<li><a href="#mirror">Mirrors</a></li>
						<li><a href="#howto-involve">Get Involved</a></li>
						<li><a href="#roadmap">Roadmap</a></li>
						<li><a href="#credits">Credits</a></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li>
					<a href="#release-notes">Release notes (de)</a>
				</li>
			</ul>
		</div>

		<div id="main-page">
			<div class="divider" id="welcome">
				<h2 id="top-header">sidux 2007-03</h2>

				<p>
					Leading towards the final release of sidux 2007-03 &#915;&#945;&#8150;&#945; and despite some vacancies during the holiday season, some pretty far reaching transitions could be completed to remove hard dependencies on gtk+ 1.2, which not only required a siginificant amount of ISO storage, but also imposed an additional maintenance and security support burden on our toolset.
					Now we're proud to announce the third preview for sidux 2007-03 &#915;&#945;&#8150;&#945; and are looking forward to the full featured final release in about a week.
				</p>
			</div>
	
			<div class="divider" id="release-notes">
				<h2>Release notes for &#915;&#945;&#8150;&#945;</h2>
				<p>
					After Kernel and the new live boot infrastructure have been proven to be stable, preview 3 is now targetted at regression testing the partly rewritten and massively overhauled configuration tools and improving translations and localisations.
					As usual the preview ships only as kde-lite variant, featuring a small (&asymp;440 MB), but fully functional KDE based package list, to ease up testing and xdelta uploads.
					sidux is a full featured Debian sid based live CD with a special focus on hard disk installations, a clean upgrade path within sid and additional hard- and software support.
				</p>
			</div>
	
			<div class="divider" id="whats-new">
				<h2>Now to the interesting topics, like what's on the menu for now:</h2>
				<ul>
					<li>amd64 (AMD64, Intel Core2, newer 64 bit capable AMD Sempron and Intel Pentium 4 CPUs (watch for the "lm" flag in /proc/cpuinfo or use infobash -v3) and i686 (Pentium pro/ Pentium II, AMD K7 Athlon or newer).</li>
					<li>debian sid.</li>
					<li>kernel 2.6.22.1 (smp, hard preemption).</li>
					<li>minimal, but fully functional KDE 3.5.7 (en + de).</li>
					<li>completely overhauled init sequence.</li>
					<li>completely refactored installer backend.</li>
					<li>new artwork created by cleary and the sidux art team.</li>
					<li><a href="file:///usr/share/sidux-manual/index.html">offline manual</a> for <a href="file:///usr/share/sidux-manual/en/welcome-en.htm">en</a> + <a href="file:///usr/share/sidux-manual/de/welcome-de.htm">de</a> directly on the disc, online manuals for more languages online at <a href="http:/manual.sidux.com/ "> http://manual.sidux.com/ </a>and available via apt; a big thank you goes to the documentation and translation teams!<br />Please note that the offline manual is only available on the running live CD or the installed system.</li>
					<li>lots of changes for the manual.</li>
					<li>iwlwifi3945/ iwlwifi4965 0.1.8+git20070804.</li>
					<li>rt2x00 2.0.6+git20060804 support for RaLink cards supporting wpasupplicant, remove /etc/modprobe.d/mac80211 to prefer it over RaLink legacy drivers</li>
					<li>support for RealTek RTL8187 wlan cards.</li>
					<li>libata support for parallel ATA systems.</li>
					<li>native vmlinuz-$KVERS and initrd.img-$KVERS naming conventions are used on the live CD now, please consult the manual for fromiso syntax changes.</li>
					<li>enhance hardware support libraries.</li>
					<li>support for &quot;smxi&quot;, replacing &quot;sm&quot; and &quot;du-fixes-h2.sh&quot;.</li>
					<li>bugfix for keyboard layout selections in X.</li>
					<li>USB scanner support has been fixed in kernel &ge;2.6.22.1-slh-smp-7/ &ge;2.6.22.1-slh64-smp-7.</li>
					<li>fix XDG menu entry for My-PPPoE Conf</li>
					<li>add siduxcc and kooka.</li>
					<li>thanks to concerted team efforts, the dependencies on Xdialog and therefore gtk+ 1.2 could be removed.</li>
					<li>support for Agere Systems et131x ethernet controllers.</li>
					<li>fw-detect to probe for hardware with non-free needs.</li>
					<li>rt73-legacy driver.</li>
					<li>memtest86+.</li>
					<li>add iputils-ping.</li>
				</ul>
			</div>

			<div class="divider" id="pending">
				<h2>What hasn't made it into the preview yet:</h2>
				<ul>
					<li>we're working with a small package list for now to ease up testing, further xdelta patches and to leave some headroom for discussions which of your package wishes can become part of the final ISO.</li>
					<li>new X.org live configuration.</li>
					<li>manual adaptions for &#915;&#945;&#8150;&#945;.</li>
				</ul>
			</div>
	
			<div class="divider" id="non-free">
				<h2>Hints for hardware with non-free needs:</h2>
				<p>
					sidux contains only <a href="http://www.debian.org/social_contract">dfsg</a> free software, so you'll probably want to add contrib/ non-free to your <a href="http://sidux.com/files/misc/sources.list">/etc/apt/sources.list</a> and ensure internet access.
				</p>
		<pre># See sources.list(5) for more information, especially
# Remember that you can only use http, ftp or file URIs
# CDROMs are managed through the apt-cdrom tool.

# Unstable
deb http://ftp.de.debian.org/debian unstable main contrib non-free
# deb-src http://ftp.de.debian.org/debian unstable main contrib non-free

# sidux
deb http://sidux.com/debian/ sid main contrib non-free firmware fix.main fix.contrib fix.non-free
#deb-src http://sidux.com/debian/ sid main contrib non-free firmware fix.main fix.contrib fix.non-free</pre>

				<p>
					The required firmware can be determined with the following device/ firmware enumeration or by using the newly developed fw-detect script (packaged in configure-networkcard).
				</p>

				<ul>
					<li>
						ATi Radeon graphics:<br />
						3d acceleration for older cards up to r35x should work, newer Radeon X1xxx cards need non-free drivers for accelerated performance which are not yet compatible with X.org 7.2. Depending on the particular chipset "xmodule=vesa" or "xmodule=fbdev" as cheatcode might be in order for later Radeon X1xxx models.
					</li>
					<li>
						Atheros/ "madwifi" wlan:<br />
						<pre>m-a a-i madwifi</pre>
					</li>
					<li>
						Atmel AT76c50x 11 MBit/s wlan:<br />
						<pre>apt-get install atmel-firmware</pre>
					</li>
					<li>
						Broadcom/ bcm43xx wlan:<br />
						<pre>apt-get install bcm43xx-fwcutter</pre>
					</li>
					<li>
						Eagle USB ADSL modem:<br />
						fetch the firmware from <a href="http://eagle-usb.org/ueagle-atm/non-free/">http://eagle-usb.org/ueagle-atm/non-free/</a> and place it under /lib/firmware/.
					</li>
					<li>
						DVB firmware for various full featured DVB TV cards (most budget cards won't need this):<br />
						fetch the needed firmeware (check dmesg) from <a href="http://www.linuxtv.org/downloads/firmware/">http://www.linuxtv.org/downloads/firmware/</a> and place it under /lib/firmware/.
						</li>
					<li>
						Intel ipw2100, 11 MBit/s wlan:<br />
						<pre>apt-get install ipw2100-firmware</pre>
					</li>
					<li>
						Intel ipw2200, 54 MBit/s wlan:<br />
						<pre>apt-get install ipw2200-firmware</pre>
					</li>
					<li>
						Intel ipw3945/ iwlwifi, 54 Mbit/s wlan:<br />
						<pre>apt-get install firmware-iwlwifi</pre>
						<em>please remove iwlwifi-ucode and iwlwifi-3945, if already installed.</em>
					</li>
					<li>
						Intel ipw4965/ iwlwifi, draft-n wlan:<br />
						<pre>apt-get install firmware-iwlwifi</pre>
						<em>please remove iwlwifi-4965, if already installed.</em>
						
						<br /><br /><em>feedback regarding iwlwifi 3945 and iwlwifi 4965 is always appreciated.</em>
					</li>
					<li>
						Intersil prism54, 54 MBit/s wlan:<br />
						fetch the firmware from <a href="http://prism54.org/firmware/">http://prism54.org/firmware/</a> and place it under /lib/firmware/.
					</li>
					<li>
						nVidia graphics:<br />
						3d acceleration isn't possible with free drivers yet, please use get-sidux-binary-gfx to fetch install scripts for these cards.
					</li>
					<li>
						RaLink rt61 54 MBit/s wlan:<br />
						<pre>apt-get install rt61-fwcutter</pre>
					</li>
					<li>
						RaLink rt73 54 MBit/s wlan:<br />
						<pre>apt-get install rt73-fwcutter</pre>
					</li>
					<li>
						Texas Instruments ACX100 (22 Mbit/s)/ ACX111 (54 MBit/s) wlan:<br />
						fetch the firmware from <a href="http://www.kazer.org/acx-firmware-20060207.tar.bz2">http://www.kazer.org/acx-firmware-20060207.tar.bz2</a> and place it under /lib/firmware/.
					</li>
					<li>
						ZyDAS zd1201 11 MBit/s wlan:<br />
						fetch the firmware from <a href="http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz">http://surfnet.dl.sourceforge.net/sourceforge/linux-lc100020/zd1201-0.14-fw.tar.gz</a> and place it under /lib/firmware/.
					</li>
					<li>
						ZyDAS zd1211 54 MBit/s wlan:<br />
						<pre>apt-get install zd1211-firmware</pre>
					</li>
				</ul>
	
				<p>
					We try to provide packages for legally redistributable firmware from our non-free repositories, but not all vendors allow this.
				</p>
			</div>
	
			<div class="divider" id="disclaimer">
				<h2>Disclaimer:</h2>
				<p>
					This is experimental software.
					Use at your own risk.
					The sidux project, it's developers and team members (all represented by the sidux e.V.) cannot be held liable under any circumstances for damage to hardware or software, lost data, or other direct or indirect damage resulting from the use of this software.
					If you do not agree to these terms and conditions, you are not permitted to use or further distribute this software.
				</p>
			</div>

			<div class="divider" id="mirror">
				<h2>Download URLs, please give the mirrors some time to sync:</h2>
				<ul>
<!-- preview
					<li><a href="http://debian.tu-bs.de/project/sidux/preview/">http://debian.tu-bs.de/project/sidux/preview/ (Technical University Carolo-Wilhelmina at Brunswick, Germany)</a></li>
					<li><a href="ftp://ftp.spline.de/mirrors/sidux/preview/">ftp://ftp.spline.de/mirrors/sidux/preview/ (Free University Berlin/ Institute of Computer Science, Germany)</a></li>
preview -->
<!-- RELEASE -->
					<li><a href="http://debian.tu-bs.de/project/sidux/release/">http://debian.tu-bs.de/project/sidux/release/ (Technical University Carolo-Wilhelmina at Brunswick, Germany)</a></li>
					<li><a href="ftp://ftp.spline.de/mirrors/sidux/release/">ftp://ftp.spline.de/mirrors/sidux/release/ (Free University Berlin/ Institute of Computer Science, Germany)</a></li>
<!-- RELEASE -->
				</ul>
				<em>If anyone can provide additional download mirrors, especially in the U.S. and the pacific region, it would be appreciated. Please contact us if you're able to provide a mirror capable to stand heavy volume ISO downloads.</em>
			</div>

			<div class="divider" id="howto-involve">
				<h2>How to get involved</h2>
				<p>
					Getting involved in sidux is easy, just join us at our <a href="http://sidux.com">Forum</a> or even better on IRC (irc.oftc.net, port 6667, channel #sidux) and discuss your patches/ proposals or additions.
					We will gladly discuss any dfsg- free patches and contributions.
					Especially regarding alternative window managers (gnome, xfce), mobile network connectivity (GPRS/ UMTS, Bluetooth, but also ISDN, PPP, PPPoE) or general janitorial tasks or translations/ localisations.
				</p>
			</div>
	
			<div class="divider" id="roadmap">
				<h2>Roadmap:</h2>
				<p>
					Please understand that the following roadmap is a rough estimate regarding our release schedule and is affected by the status of upstream debian sid, major system components like X.org, KDE, the linux kernel and our own developments and is subject to changes.
				</p>
	
				<ul>
					<li>
						sidux 2007-03 &quot;&#915;&#945;&#8150;&#945;&quot; &mdash; calendar week 29-31 2007
					</li>
					<li>
						sidux 2007-04 &quot;&#7964;&#961;&#969;&#962;&quot; &mdash; calendar week 41-42 2007
					</li>
					<li>
						sidux 2008-01 &quot;&#925;&#973;&#958;&quot; &mdash; calendar week 1-2 2008
					</li>
					<li>
						sidux 2008-02 &quot;&#904;&#961;&#949;&#946;&#959;&#962;&quot; &mdash; calendar week 13-14 2008
					</li>
					<li>
						sidux 2008-03 &quot;&#937;&#8020;&#961;&#949;&#945;&quot; &mdash; calendar week 25-26 2008
					</li>
					<li>
						sidux 2008-04 &quot;&#928;&#972;&#957;&#964;&#959;&#962;&quot; &mdash; calendar week 37-38 2008
					</li>
				</ul>
			</div>
	
			<div class="divider" id="credits">
				<h2>Special thanks go to the entire sidux development team:</h2>
				<p>
					Joaquim Boura (x-un-i)<br />
					<a href="http://rebelhomicide.demon.nl">Michiel de Boer</a> (locsmif)<br />
					Mikhail Burov (von_Selbst)<br />
					<a href="http://www.alessiogiustini.com"> Alessio Giustini</a> (alessiog75)<br />
					Stefan R. Eissens (eislon)<br />
					Roland Engert (RoEn)<br />
					Bernard Gray (cleary)<br />
					Andreas Hausmann (Bohdi)<br />
					Chris Hildebrandt (slam)<br />
					Ralph Hokanson Jr. (piper)<br />
					Richard Holt (Richard)<br />
					Markus Huber (hubi)<br />
					Harald Hope (h2)<br />
					HarzG<br />
					Aedan Kelly (etorix)<br />
					Lady_Cuddles<br />
					Latino<br />
					Stefan Lippers-Hollmann (slh)<br />
					Kel Modderman (kelmo)<br />
					Koslow<br />
					Markus M&uuml;ller (moto)<br />
					maslot<br />
					Gabriel Palade (ladepa)<br />
					<a href="http://www.r7h.at">Gerald Prock</a> (raider700)<br />
					<a href="mailto:cathbard@gmail.com">Steven J. Robinson</a> (cathbard)<br />
					Philipp Rudolph (Zophod)<br />
					Dinko Sabo (cobra)<br />
					Florian Schneider (hathe)<br />
					Ferdi Thommes (devil)<br />
					Horst Tritremmel (hjt)<br />
					Trevor Walkley (bluewater)<br />
					Niall Walsh (bfree)<br  />
					Andreas Weber (webera)<br />
					Fabian Wuertz (xadras)<br />
					zerby<br />
					zonker<br />
					zulu9
				</p>
		
				<p>
					On behalf of the sidux team:<br />
					<em>&emsp;&emsp;&emsp;Stefan Lippers-Hollmann (slh)</em>
				</p>
			</div>
		</div>
	</body>
</html>
