body {
	background: transparent;
	font-size: 12pt;
}

#menu {
	display:none;
}

#main-page {
	margin:0 5em 0 2em;
}

#top-header {
	display: list-item;
	list-style-image: url(../logos/sidux-book.gif);
	list-style-position: inside;
}

p {
	page-break-inside:avoid;
}

a:link, a:visited {
	color: #000000;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
}

#main-page a:link:after, #main-page a:visited:after {
	content: " (" attr(href) ") ";
	font-size:90%;
}
