/* <![CDATA[ */
body {
	background: transparent;
	color:#000000;
	font-size: 12pt;
}

#menu {
	display:none;
}

#main-page {
	margin:0 5em 0 2em;
}

#top-header {
	display: list-item;
	list-style-image: url(../logos/sidux-book.gif);
	list-style-position: inside;
}

.divider {
	page-break-inside:avoid;
}

pre {
	overflow: visible;
	background:#ffffff;
	border-color:#000000;
}

a:link, a:visited {
	color: #000000;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
}

#main-page a.printurl:link:after, #main-page a.printurl:visited:after {
	content: " (" attr(href) ") ";
	font-size:90%;
}
/* ]]> */
