/* <![CDATA[ */

body, html, object, div {
	margin:0;
	padding:0;
}

body {
	font-family:"dejavu serif", times, "times new roman", serif;
	font-size:100%;
	background:#eaedf4;
	color:#000611;
}

#main-page {
	padding:10px 20px;
	margin-left:165px;
	z-index:2;
}

p {
	margin-top:0;
}

ul {
	margin: 0 0 1em 0;
	padding:0;
}

li {
	margin:0 0 1em 18px;
	padding:0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	font-family:"dejavu sans", arial, sans-serif;
	margin-top:0;/* this must be 0 to fix a firefox css issue with this layout */
	color:#040a2f;
	margin-bottom:.1em;
	padding:.2em;
}

h1 {
	font-size:150%;
	background:#d4d7dd;
	margin-bottom:1em;
}

h2 {
	border-top-width:1px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-style:solid;
	border-color:#040a2f;
	font-size:125%;
	background:#d4d7dd;
	margin-bottom:1em;
}

h3 {
	font-size:115%;
}

h4 {
	font-size:100%;
}

h5 {
	font-size:100%;
}

h6 {
	font-size:100%;
}

img {
	border:none;
}

.divider {
	margin-bottom:1em;
	padding-bottom:1em;
}

pre {
	color:#000000;
	background:#ffffee;
	border:1px solid #888888;
	font-family:"dejavu", "Lucida Console", monospace;
	font-size:85%;
	width:95%;
	margin:0 auto 1em auto;
	padding:6px;
	text-align:left;
	overflow:auto;
}

#menu {
	top:0px;
	left:0px;
	position:fixed;
	float:left;
	height:auto;
	background-color:#eaedf4;
	width:164px;
	font:normal 14px "dejavu sans", arial,sans-serif;
}

#menu .menubutton {
	background-color:#7ba7a6;
	padding:2%;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:2px;
	border-right-width:2px;
	border-style:solid;
	border-color:#eaedf4;
	font-size:90%;
	font-weight:bold;
	width:162px;
}

#menu a {
	color:#eaedf4;
	text-decoration:none;
	display:block;
}

#menu ul li {
	font-size:40%;
	color:#eaedf4;
	text-decoration:none;
}

/* ]]> */
