/* <![CDATA[ */
body {
	background:#fffefc;
	color:#172B4f;
}

#main-page {
	padding:10px 20px;
	margin-left:165px;
	z-index:2;
}

h1, h2, h3, h4, h5, h6 {
	color:#1f2051;
}

h1 {
	background:#f7f7f7;
}

h2 {
	border-color:#040a2f;
	background:#f7f7f7;
}

pre {
	color:#000000;
	background:#fdffd3;
	border-color:#888888;
	overflow:auto;
}

#menu {
	top:0px;
	left:0px;
	position:fixed;
	float:left;
	height:100%;
	background-color:#394d73;
	width:172px;
	font-family:"dejavu sans", arial, sans-serif;
	font-size:105%;
}

#menu .menubutton {
	background-color:#8b8b8b;
	padding:2%;
	border-width:1px 2px 1px 1px;
	border-style:solid;
	border-color:#c2c3c9;
	font-size:90%;
	font-weight:bold;
	width:162px;
}

#menu a {
	color:#ffffff;
	text-decoration:none;
	display:block;
}

#menu ul {
	margin:8px 0px;
	padding:0px 5px 0px 20px;
	list-style-type:disc;
	color:#f9f9f9;
}

#menu li a {
	margin:0.3em 0.3em;
	font-size:70%;
	line-height:1.1em;
	color:#f9f9f9;
	text-decoration:none;
}

#menu img {
	margin-top:10px;
	margin-bottom:10px;
}
/* ]]> */
