/* <![CDATA[ */

body, html, div {
	margin:0px;
	padding:0px;
}

body {
	font-family:"dejavu serif", "times new roman", serif;
	font-size:100%;
	background:#fffefc;
	color:#172B4f;
}

#main-page {
	padding:10px 20px;
	margin-left:165px;
	z-index:2;
}

p {
	margin-top:0px;
}

#main-page ul {
	margin:0em 0em 1em 0em;
	padding:0px;
}

#main-page li {
	margin:0em 0em .5em 1.5em;
	padding:0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	font-family:"dejavu sans", arial, sans-serif;
	margin-top:0px;	/* this must be 0 to fix a firefox css issue with this layout */
	margin-bottom:.1em;
	color:#1f2051;
	padding:.2em;
}

h1 {
	font-size:150%;
	background:#f7f7f7;
	margin-bottom:1em;
}

h2 {
	border-width:1px 0px 0px 0px;
	border-style:solid;
	border-color:#040a2f;
	font-size:125%;
	background:#f7f7f7;
	margin-bottom:1em;
}

h3 {
	margin-top:1em;
	margin-bottom:0.5em;
	font-size:115%;
}

h4 {
	margin-top:0.75em;
	margin-bottom:0.25em;
	font-size:100%;
}

h5 {
	margin-top:0.75em;
	margin-bottom:0.25em;
	font-size:100%;
}

h6 {
	margin-top:0.75em;
	margin-bottom:0.25em;
	font-size:100%;
}

img {
	border:none;
}

li pre {
	margin-top:1em;
	margin-bottom:1em;
}

.divider {
	margin-bottom:1em;
	padding-bottom:1em;
}

pre {
	color:#000000;
	background:#fdffd3;
	border-width:1px;
	border-style:solid;
	border-color:#888888;
	font-family:"dejavu", "Lucida Console", monospace;
	font-size:85%;
	width:95%;
	margin:0 auto 1em auto;
	padding:6px;
	text-align:left;
	overflow:auto;
}

#menu {
	top:0px;
	left:0px;
	position:fixed;
	float:left;
	height:100%;
	background-color:#394d73;
	width:172px;
	font-family:"dejavu sans", arial, sans-serif;
	font-size:105%;
}

#menu .menubutton {
	background-color:#8b8b8b;
	padding:2%;
	border-width:1px 2px 1px 1px;
	border-style:solid;
	border-color:#c2c3c9;
	font-size:90%;
	font-weight:bold;
	width:162px;
}

#menu a {
	color:#ffffff;
	text-decoration:none;
	display:block;
}

#menu ul {
	margin:8px 0px;
	padding:0px 5px 0px 20px;
	list-style-type:disc;
	color:#f9f9f9;
}

#menu li a {
	margin:0.3em 0.3em;
	font-size:70%;
	line-height:1.1em;
	color:#f9f9f9;
	text-decoration:none;
}

#menu img {
	margin-top:10px;
	margin-bottom:10px;
}

/* ]]> */
