Source: fll-builder
Section: misc
Priority: optional
Maintainer: Kel Modderman <kel@otaku42.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: distro-defaults
Architecture: all
Description: set various default options
 This package has much influence on the system and update behaviour of
 customized live linux utilities. Take care to keep sane settings for
 installed systems.

Package: fll-builder
Architecture: all
Depends: apt-utils, cdebootstrap, distro-defaults (>= ${source:Version}), genisoimage, squashfs-tools, su-me, unzip, wget
Description: scripts to build a live-cd based on the FULLSTORY project code
 <insert long description, indented with spaces>
