Source: fll-builder
Section: misc
Priority: optional
Maintainer: Kel Modderman <kelmo@kanotixguide.org>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: fll-builder
Architecture: all
Depends: cdebootstrap, distro-defaults, su-me, genisoimage
Description: scripts to build a live-cd based on the FULLSTORY project code
 <insert long description, indented with spaces>
