#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk

install/distro-defaults::
	install -D -m 0644 etc/default/distro \
		debian/distro-defaults/etc/default/distro

install/fll-builder::
	install -D -m 0755 fll-build.bash \
		debian/fll-builder/usr/sbin/fll-build
	install -D -m 0755 usr/share/fll-builder/functions.bm \
		debian/fll-builder/usr/share/fll-builder/functions.bm
	install -D -m 0644 etc/fll-builder/fll-build.conf \
		debian/fll-builder/etc/fll-builder/fll-build.conf
	install -D -m 0644 etc/fll-builder/packages.conf \
		debian/fll-builder/etc/fll-build/packages.conf
	install -D -m 0644 etc/default/distro \
		debian/fll-builder/etc/fll-build/distro
